/* ================================= 
  Import Fonts
==================================== */
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

/* ================================= 
  Base Element Styles
==================================== */
body {
    font-family: 'Red Hat Display', sans-serif;
    font-size: 16px;
    background-color: hsl(225, 100%, 94%);
}

/* ================================= 
    Base Layout Styles
  ==================================== */
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    width: 75%;
    margin: 0 auto;
    max-width: 400px;
}

.main {
    background-color: white;
    border-radius: 20px;
    overflow: hidden;
}

/*Header Section*/
.main__hero-image {
    width: 100%;
    margin-bottom: 25px;
}

.main__heading {
  font-size: 20px;
}

.main__paragraph {
  line-height: 1.7;
  width: 65%;
  margin: 0 auto;
  opacity: 0.5;
}

/*Pricing Section*/
.pricing {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 65%;
  margin: 30px auto 30px auto;
  background-color: hsl(225, 100%, 98%);
  border-radius: 10px;
  padding: 5px 15px;
}

.pricing__section {
  display: flex;
  align-items: center;
}

.pricing__image {
  margin-right: 20px;
}

.pricing__div__heading,
.pricing__div__paragraph,
.pricing__div__link {
  font-size: 14px;
}

.pricing__div__heading {
  margin-bottom: 5px;
}

.pricing__div__paragraph {
  margin-top: 0;
  opacity: 0.5;
}

.pricing__div__link {
  color: hsl(245, 75%, 52%);
}

.pricing__div__link:hover,
.pricing__div__link:active {
  text-decoration: none;
  opacity: 0.75;
  cursor: pointer;
}

/*Buttons*/
.btn {
  display: block;
  border: none;
  margin: 0 auto;
  box-shadow: 0px 15px 10px -15px #111;
}

.btn-primary {
  background-color: hsl(245, 75%, 52%);
  color: white;
  padding: 15px;
  border-radius: 10px;
  font-size: 14px;
  width: 70%;
  margin-bottom: 20px;
  font-weight: 700;
}
.btn-primary:hover,
.btn-primary:active {
  opacity: 0.65;
  cursor: pointer;
}

.btn-secondary {
  background-color: white;
  font-size: 14px;
  opacity: 0.6;
  margin-bottom: 40px;
  font-weight: 900;
}

.btn-secondary:hover,
.btn-secondary:active {
  cursor: pointer;
  opacity: 0.85;
}

/*Footer*/
.footer {
   font-size: 11px; 
   text-align: center; 
}

.footer__link  {
    color: hsl(228, 45%, 44%); 
}
 /* ================================= 
    Media Queries
  ==================================== */

  @media (min-width: 1440px) {
    .container {
      width: 85%;
    }

    /*Header Section*/
    .main__heading {
      font-size: 25px;
    }

    .main__paragraph {
      width: 70%;
    }
    /*Pricing*/
    .pricing {
      width: 70%;
    }
    /*Button*/
    .btn-primary {
      width: 75%;
    }
  }